/* Universal */
* {
  box-sizing: border-box;
}

/* Type or tag */
p {
  margin-block: 1.5rem;
}

/* Classname */
.class {
    text-decoration: underline;
}

/* ID */
#id {
    font-family: monospace;
}

/* Relational */
li:has(a) {
    display: flex;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  justify-items: stretch;
  align-items: stretch;
  place-items: center;
  gap: 5px;
}
